
body {
    background-color: #34495e;
    color: white;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #455a64;
    border-radius: 10px;
    margin-bottom: 100px;
}

.container {
    width: 800px;
}

button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #2980b9;
}
