<div class="container-fluid" style="background-image: url('https://picsum.photos/id/1015/1920/1200');">
  <div class="row">
    <div class="col-4"><img src="https://picsum.photos/id/1015/400/300" class="img-fluid"></div>
    <div class="col-4"><img src="https://picsum.photos/id/1016/400/300" class="img-fluid"></div>
    <div class="col-4"><img src="https://picsum.photos/id/1022/400/300" class="img-fluid"></div>
  </div>
  <div class="row">
    <div class="col-4"><img src="https://picsum.photos/id/1018/400/300" class="img-fluid"></div>
    <div class="col-4"><img src="https://picsum.photos/id/1019/400/300" class="img-fluid"></div>
    <div class="col-4"><img src="https://picsum.photos/id/1020/400/300" class="img-fluid"></div>
  </div>
  <div class="row">
    <div class="col-4"><img src="https://picsum.photos/id/1021/400/300" class="img-fluid"></div>
    <div class="col-4"><img src="https://picsum.photos/id/1023/400/300" class="img-fluid"></div>
    <div class="col-4"><img src="https://placecorgi.com/400/300" class="img-fluid"></div>
  </div>
</div>

